html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1100px;
    margin-left: 200px;
}

h1{
    text-align: center;
}

h2{
    border-bottom: 1px solid #87aff6;
}
#ultimo{
    border-bottom: 1px solid #ea6584;
}
p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 6px;
}
#primerparrafo{
    padding:10px;
    border: 1px solid #0e0e0e ;
}
#par{
    background-color: #d7d7d7 ;
}
#impar{
    background-color: #f6f6f6;
}
a{
    color: #f00;
}
#wikipedia{
    color: #00f;

}